<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Mayur.POMProject.LoginTest" />
			<class name="Mayur.POMProject.HomeTest" />
			<class name="Mayur.POMProject.AddToCartTest" />
			<class name="Mayur.POMProject.AddTocartFromProductPage" />
			<class name="Mayur.POMProject.DeleteProduct" />
			<class name="Mayur.POMProject.LogoutTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
